.productImage {
  position: relative !important;
  object-fit: cover;
  max-width: 1200px;
}

.productMain {
  display: flex;
  flex-direction: row;
  height: 100vh;
}

.productDetails {
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
  margin-left: 2rem;
}

.productDescription {
  font-style: italic;
  font-size: 4rem;
}

.backToHome {
  margin: 3rem 0 0;
}

.backText {
  font-size: 2rem;
  color: blue;
}

@media screen and (max-width: 1440px) {
  .productDescription {
    font-size: 2rem;
  }

  .productImage {
    max-width: 700px;
  }
  .backText {
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 1024px) {
  .productDescription {
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 768px) {
  .productDescription {
    font-size: 1rem;
  }
  .backText {
    font-size: 1rem;
  }

  .productImage {
    max-width: 460px;
  }
}

@media screen and (max-width: 425px) {
  .productMain {
    flex-direction: column;
  }

  .productImage {
    max-height: 250px;
  }

  .productDescription {
    font-size: 0.75rem;
  }
  .productDetails {
    margin-left: 0.75rem;
  }
}
